services:
  fastzero_database:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 10

  fastzero_app:
    image: fastzero_app
    entrypoint: ./entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    depends_on:
      fastzero_database:
        condition: service_healthy
    env_file:
      - .env

volumes:
  pgdata:
